h1 {
  text-align: center;
}

.card-container {
  display: flex;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  flex: 1;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  height: 250px;
  border-radius: 5px;
  background: rgb(64, 155, 207);
  margin: 5px;
}